<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Contáctame</h2>
        </div>

        <div class="row mt-1">

            <div class="col-lg-4">
                <div class="info">
                    <div class="address">
                        <a href="https://wa.me/573187340144" target="_blank">
                            <i class="bi bi-whatsapp"></i>
                            <h4>Whatsapp:</h4>
                            <p>Escríbeme!</p>
                        </a>
                    </div>

                    <div class="email">
                        <a href="mailto:">
                            <i class="bi bi-envelope"></i>
                            <h4>Correo:</h4>
                            <p>info@example.com</p>
                        </a>
                    </div>

                    <div class="phone">
                        <a href="tel:+573187340144">
                            <i class="bi bi-phone"></i>
                            <h4>Teléfono:</h4>
                            <p>+57 318 734 0144</p>
                        </a>
                    </div>

                </div>

            </div>

            <div class="col-lg-8 mt-5 mt-lg-0">

                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Nombres"
                                required>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="email" class="form-control" name="email" id="email"
                                placeholder="Correo electrónico" required>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto"
                            required>
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" name="message" rows="5" placeholder="Mensaje"
                            required></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center"><button type="submit">Send Message</button></div>
                </form>

            </div>

        </div>

    </div>
</section><!-- End Contact Section -->