<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Hechos</h2>
            <p>Algunas de mis acciones realizadas durantes los cargos a los cuales he pertenecido que demuestran
                acciones
                realizadas.</p>
        </div>

        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">Todas</li>
                    <li data-filter=".filter-app">Concejal</li>
                    <li data-filter=".filter-card">Presidente Consejo</li>
                    <li data-filter=".filter-web">Director I. & H.</li>
                </ul>
            </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <img src="../../../assets/img/portafolio/1.webp" class="img-fluid" alt="">
                <div class="portfolio-info" style="text-align: center;">
                    <h4>Avenida Betánia en el Espinal es una realidad</h4>
                    <p>Adjudicación del contrato de obra el 30 de diciembre del 2022 por un valor aproximado de 12 mil millones de pesos.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <img src="../../../assets/img/portafolio/2.webp" class="img-fluid" alt="">
                <div class="portfolio-info" style="text-align: center;">
                    <h4>Respaldo absoluto del equipo del municipio del Guamo</h4>
                    <p>En presencia del senador Oscar Barreto recibimos el apoyo del ex-diputado y ex-alcalde Rodrigo Ospítia.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <img src="../../../assets/img/portafolio/3.webp" class="img-fluid" alt="">
                <div class="portfolio-info" style="text-align: center;">
                    <h4>Entrega pavimentación.</h4>
                    <p>Construcción pavimento 'L' en Herrera - Rio Blanco.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <img src="../../../assets/img/portafolio/4.webp" class="img-fluid" alt="">
                <div class="portfolio-info" style="text-align: center;">
                    <h4>Comité técnico alcadía y concejales Guamo Tolima</h4>
                    <p>Ejecución proyectos de gas rural y construcción de parques en el municipio.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <img src="../../../assets/img/portafolio/5.webp" class="img-fluid" alt="">
                <div class="portfolio-info" style="text-align: center;">
                    <h4>Apoyo político </h4>
                    <p>Respaldo del señor ex-representante y ex-alcalde Dr. Hernando Cárdenas Cardoso equipo de trabajo.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <img src="../../../assets/img/portafolio/6.webp" class="img-fluid" alt="">
                <div class="portfolio-info" style="text-align: center;">
                    <h4>Construcción placa huella total de 10,9 Kilómetros</h4>
                    <p>Rioblanco (Diamante) -  Bilbao - Planadas.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <img src="../../../assets/img/portafolio/7.webp" class="img-fluid" alt="">
                <div class="portfolio-info" style="text-align: center;">
                    <h4>Llegando a todos los rincones del departamento</h4>
                    <p>Con los pies en el territorio dialogando de frente con los Tolimenses.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <img src="../../../assets/img/portafolio/8.webp" class="img-fluid" alt="">
                <div class="portfolio-info" style="text-align: center;">
                    <h4>Montanar Reservado</h4>
                    <p>Apoyo del empresario Juan Carlos Palacios y su equipo de contratistas a nuestra propuesta.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <img src="../../../assets/img/portafolio/9.webp"class="img-fluid" alt="">
                <div class="portfolio-info" style="text-align: center;">
                    <h4>Aprendiendo de la experiencia</h4>
                    <p>Compartiendo con nuestro senador Oscar Barreto y nuestra representante a la camara Delcy Isaza</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Portfolio Section -->