<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Sobre mí</h2>
            <p style="text-align: justify;">Como joven político colombiano y aspirante a diputado del Tolima, estoy comprometido con el progreso, la educación y la
            sostenibilidad en la región. Con una formación en Ingeniería Civil y Gerencia de Proyectos, he trabajado en
            organizaciones gubernamentales y no gubernamentales adquiriendo experiencia valiosa. Mi enfoque es el desarrollo
            integral y sostenible del Tolima, abarcando educación, salud, infraestructura y protección del medio ambiente. Busco
            promover la equidad y la inclusión social, garantizando oportunidades para todos los tolimenses sin importar su origen o
            situación económica.
        </p>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <img src="./assets/img/profile-img.webp" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content">
                <h3>Ingeniero Civil &amp; Gerente de Proyectos.</h3>
                <p class="fst-italic">
                    Algunos datos sobre mi:
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Fecha Nacimiento:</strong> <span>4 Enero 1993</span>
                            </li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Whatsapp:</strong>
                                <a href="https://wa.me/573187340144" Target="_blank">Click para conversar</a></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Teléfono:</strong> <a href="tel:3187340144">+57 318 734 0144</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Edad:</strong> <span>30</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Estudios:</strong> <span>Especialista</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Correo electrónico:</strong>
                                <a href="mailto:">Escríbenos</a></li>
                        </ul>
                    </div>
                </div>
                <p>
                    
                </p>
            </div>
        </div>

    </div>
</section><!-- End About Section -->