  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Esteban Duarte Mesa</h3>
      <p>Tolima Vamos Por Más!.</p>
      <div class="social-links">
        <!-- <a href="#" Target="_blank" class="twitter"><i class="bx bxl-twitter"></i></a> -->
        <a href="https://www.facebook.com/people/Esteban-Duarte-Mesa/100091443738241/" Target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://instagram.com/estebanduartemesaa?igshid=YmMyMTA2M2Y=" Target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://www.tiktok.com/@estebanduartemesa0/" Target="_blank" class="google-plus"><i class="bx bxl-tiktok"></i></a>
        <a href="#" Target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>

      <div class="copyright">
        &copy; Copyright <strong><span>Grupo Empresarial Panacesa S.A.S.</span></strong> All Rights Reserved
      </div>
      
    </div>
  </footer><!-- End Footer -->