<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
        <h1>Esteban Duarte Mesa</h1>
        <ngx-typed-js [strings]="['Justos...', 'Comuneros...','Defensores...','Empáticos...']" [shuffle]="true" [typeSpeed]="120" [loop]="true">
        <p>Somos <span class="typing"></span></p>
            </ngx-typed-js>
        <div class="social-links">
            <a href="https://www.facebook.com/people/Esteban-Duarte-Mesa/100091443738241/" Target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="https://instagram.com/estebanduartemesaa?igshid=YmMyMTA2M2Y=" Target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="https://www.tiktok.com/@estebanduartemesa0/" Target="_blank" class="google-plus"><i class="bx bxl-tiktok"></i></a>
            <a href="#" Target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
    </div>
</section>
<!-- End Hero -->