<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Academia y Experiencia</h2>
            <p style="text-align: justify;">Licenciado en Ingeniería Civil, cuento con una especialización en Gerencia de Proyectos. Mi
                experiencia laboral abarca diversos sectores, incluyendo la consultoría estratégica, la gestión de
                proyectos y la investigación económica. Soy conocido por mi habilidad para analizar y resolver
                problemas complejos, así como por mi liderazgo y habilidades comunicativas, lo que me convierte en un
                referente en mi campo de acción.</p>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h3 class="resume-title">Perfil Académico</h3>
                <div class="resume-item pb-0">
                    <h4>Escuela Colombiana de Ingeniería Julio Garavito</h4>
                    <h5>2009 - 2013</h5>
                    <p><em>La Escuela Colombiana de Ingeniería Julio Garavito es una universidad de carácter privado de Colombia que cuenta con 11
                    carreras profesionales, 9 especializaciones, 7 maestrías, 1 doctorado y más de 100 programas de educación continuada.
                    Sujeta a inspección y vigilancia del Ministerio de Educación de Colombia.</em></p>
                    <ul>
                        <li>Bogotá, D.C, CO</li>
                        <li><a href="tel:+60816683600">16683600</a></li>
                        <li><a href="www.escuelaing.edu.co/es/" target="_blank">www.escuelaing.edu.co</a></li>
                    </ul>
                </div>

                <div class="resume-item">
                    <h4>Especializacion En Gerencia de Proyectos</h4>
                    <h5>2017 - 2018</h5>
                    
                    <p>La Universidad del Tolima es un ente universitario autónomo, de carácter estatal u oficial, del orden departamental,
                    creado por la Ordenanza No. 005 de 1945, con personería jurídica, autonomía académica, administrativa y financiera, y
                    patrimonio independiente, que elaborará y manejará su presupuesto de acuerdo con las funciones que le corresponden. En
                    lo concerniente a las políticas y la planeación del sector educativo, está vinculada al Ministerio de Educación
                    Nacional.</p>
                        <ul>
                            <li>Ibagué, Tolima, CO</li>
                            <li><a href="tel:+018000181313 ">018000181313</a></li>
                            <li><a href="www.ut.edu.co/" target="_blank">www.ut.edu.co</a></li>
                        </ul>
                    
                </div>
            </div>
            <div class="col-lg-6">
                <h3 class="resume-title">Trayectoria Profesional</h3>
                <div class="resume-item">
                    <h4>Concejal</h4>
                    <h5>2016 - 2019</h5>
                    <p><em>Espinal, Tolima </em></p>
                    <ul>
                        <li>Segunda mejor votación a nivel de partidos políticos con 1221 votos a favor.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Presidente del Concejo Municipal</h4>
                    <h5>2017</h5>
                    <p><em>Espinal, Tolima</em></p>
                    <ul>
                        <li>De los 15 concejales existentes en la corporación concejo municipal, fue desición unánime el elegir la presidencia.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Candidato Alcaldía</h4>
                    <h5>2019</h5>
                    <p><em>Espinal, Tolima</em></p>
                </div>
                <div class="resume-item">
                    <h4>Director infraestructura y hábitat</h4>
                    <h5>2020 - 2022</h5>
                    <p><em>Gobernación del Tolima</em></p>
                    <ul>
                        <li>Supervisor de convenios y contratos para la gasificación de 6 municipios: Guamo, Libano, Ortega, Melgar, Cajamarca,
                        Coyaima.</li>
                        <li>Era el encargado de Supervisar los convenios con las empresas privadas y los contratos de interventoria.</li>
                        <li>Remodelación del parque Simon Bolivar en el municipio del Guamo por Valor de 2200 Millones.</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Resume Section -->