<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Academia y Experiencia</h2>
            <p style="text-align: justify;">Licenciado en Ingeniería Civil, cuento con una especialización en Gerencia de Proyectos. Mi
                experiencia laboral abarca diversos sectores, incluyendo la consultoría estratégica, la gestión de
                proyectos y la investigación económica. Soy conocido por mi habilidad para analizar y resolver
                problemas complejos, así como por mi liderazgo y habilidades comunicativas, lo que me convierte en un
                referente en mi campo de acción.</p>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h3 class="resume-title">Perfil Académico</h3>
                <div class="resume-item pb-0">
                    <h4>Escuela Colombiana de Ingeniería Julio Garavito</h4>
                    <h5>2008 - 2013</h5>
                    <p><em>La Escuela Colombiana de Ingeniería Julio Garavito es una universidad de carácter privado de Colombia que cuenta con 11
                    carreras profesionales, 9 especializaciones, 7 maestrías, 1 doctorado y más de 100 programas de educación continuada.
                    Sujeta a inspección y vigilancia del Ministerio de Educación de Colombia.</em></p>
                    <ul>
                        <li>Bogotá, D.C, CO</li>
                        <li><a href="tel:+60816683600">16683600</a></li>
                        <li><a href="www.escuelaing.edu.co/es/" target="_blank">www.escuelaing.edu.co</a></li>
                    </ul>
                </div>

                <div class="resume-item">
                    <h4>Bachelor of Fine Arts &amp; Graphic Design</h4>
                    <h5>2010 - 2014</h5>
                    <p><em>Rochester Institute of Technology, Rochester, NY</em></p>
                    <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione
                        eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon
                        sader mart dila</p>
                </div>
            </div>
            <div class="col-lg-6">
                <h3 class="resume-title">Trayectoria Profesional</h3>
                <div class="resume-item">
                    <h4>Consejal</h4>
                    <h5>2016 - 2019</h5>
                    <p><em>Espinal, Tolima </em></p>
                    <ul>
                        <li>Lead in the design, development, and implementation of the graphic, layout, and production
                            communication materials</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Presidente del Consejo Municipal</h4>
                    <h5>2017 - 2018</h5>
                    <p><em>Espinal, Tolima</em></p>
                    <ul>
                        <li>Developed numerous marketing programs (logos, brochures,infographics, presentations, and
                            advertisements).</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Candidato Alcaldía</h4>
                    <h5>2019</h5>
                    <p><em>Espinal, Tolima</em></p>
                </div>
                <div class="resume-item">
                    <h4>Director infraestructura y hábitat</h4>
                    <h5>2020 - 2022</h5>
                    <p><em>Gobernación del Tolima</em></p>
                    <ul>
                        <li>Developed numerous marketing programs (logos, brochures,infographics, presentations, and
                            advertisements).</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Resume Section -->